.profile {
  &__avatar {
    max-width: max-content;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    align-items: center;
    gap: 0px 12px;
    &__image {
      grid-row: span 2 / span 2;
    }
    &__name {
    }
    &__email {
      grid-column-start: 2;
      grid-row-start: 2;
      color: var(--on-background-color-300);
    }
  }
}
