.modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  opacity: 0;
  transition: 200ms ease;
  &--open {
    z-index: 1;
    opacity: 1;
  }
  &__content {
    background: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
    max-width: 90%;
    &__header {
      padding: 24px 24px;
      margin-bottom: 12px;
      display: flex;
      flex-direction: row-reverse;
      border-bottom: 1px solid var(--on-background-color-200);
    }
    &__wrapper {
      padding: 24px;
    }
  }
}
