.wish {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: var(--on-background-color-100);
  border-radius: 12px;
  width: 100%;
  cursor: pointer;
  &__date {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--on-background-color-300);
  }
  &__name {
    font-weight: 600;
    font-size: 1.3rem;
  }
  &__description {
    color: var(--on-background-color-300);
  }
}
