:root {
  --background-color: white;
  --on-background-color: black;
  --on-background-color-300: grey;
  --input-background-color: #f2f2f2;
  --on-input-background-color: #9c939f;
  --button-background-color: #6c56f2;
  --on-button-background-color: white;
  --disabled-button-background-color: #e5e5e5;
  --on-disabled-button-background-color: #bdbdbd;
  --error-color: red;
  --success-color: green;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--on-background-color);
  background-color: var(--background-color);

  text-rendering: optimizeLegibility;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 32px;
}

input,
button {
  font-size: 1em;
  font-family: inherit;
}

* {
  margin: 0;
  box-sizing: border-box;
}
