.images {
  &__list {
    max-width: max-content;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 24px;
    &__li {
      position: relative;
      max-height: 180px;
      max-width: 120px;
      min-width: 120px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &--small {
        max-height: 110px;
        max-width: 110px;
        min-width: 110px;
      }
      &__img {
        max-height: inherit;
        max-width: inherit;
        width: 100%;
        object-fit: contain;
      }
      &__delete-button {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.8);
      }
    }
  }
}

@media (max-width: 600px) {
  .images {
    &__list {
      grid-template-columns: repeat(2, auto);
    }
  }
}

@media (pointer: coarse) {
  .images {
    &__list {
      &__li {
        &__delete-button {
          display: none;
        }
      }
    }
  }
}
